/*
1rem = 16px
*/

/*
px - Medida absoluta, não muda de acordo com as especificações do dispositivo
em - Relativo ao tamanho da fonte do elemento - 2em = 2 vexes o tamanho do elemento
rem - Relativo ao font-size do elemento root - do pai
*/

:root{
    /*Variáveis*/
    --color-yellow-gradient: #FFCA03;
    --color-orange-gradient: #FF5403;
    --color-red-gradient: #F90716;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-green: #44CC44;
    --color-background: #191A19;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/*Zerar as configurações padrões do CSS*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
