/*Ajustar o sinopse*/
@media(max-width: 820px){
    .modal-container .modal{
        height: 20rem;
    }

    .modal-container .modal .sinopse,
    .modal-container .modal .btn{
        font-size: 0.8rem;
    }
}

@media(max-width: 540px){
    .modal-container .modal{
        margin-left: -0.5rem;
    }

    .modal-container .modal .sinopse,
    .modal-container .modal .btn{
        font-size: 0.7rem;
    }
}

@media(max-width: 414px){
    .modal-container .modal{
        margin-left: -0.5rem;

        width: 18.75rem;
        max-height: 500px;
    }

    .modal-container .modal .sinopse,
    .modal-container .modal .btn{
        font-size: 0.75rem;
    }
}

@media(max-width: 390px){
    .modal-container .modal{
        /*Alinhar a caixa da sinopse aos cards- Ele está um pouco mais à direita*/
        margin-left: -1rem;
    }
}

@media(max-width: 375px){
    .modal-container .modal{
        width: 16.75rem;
        max-height: 500px;

        /*Alinhar a caixa da sinopse aos cards- Ele está um pouco mais à direita*/
        margin-left: -2rem;
    }

    .modal-container .modal .sinopse,
    .modal-container .modal .btn{
        font-size: 0.6rem;
    }

    .modal-container .modal h2{
        font-size: 1rem;
    }

    .modal-container .modal .close-btn{
        top: 10px;
    }
}

@media(max-width: 360px){
    .modal-container .modal{
        margin-left: -3rem;
    } 
}