/*
1rem = 16px
*/

:root{
    /*Variáveis*/
    --color-yellow-gradient: #FFCA03;
    --color-orange-gradient: #FF5403;
    --color-red-gradient: #F90716;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-background: #191A19;

    font-family: 'Poppins', sans-serif;
}

/*Zerar as configurações padrões do CSS*/
*{
    margin: 0;
    padding: 0;
    border: border-box;
}

/*Gradiente*/
.gradient{
    background-image: linear-gradient(45deg, var(--color-yellow-gradient), var(--color-orange-gradient), var(--color-red-gradient));
}

/*Aplicar gradiente em texto*/
.gradient-text{
    background-image: linear-gradient(45deg, var(--color-yellow-gradient), var(--color-orange-gradient), var(--color-red-gradient));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/*--------------------------SCROLLBAR---------------------*/
/*Largura da área total da scrollbar*/
::-webkit-scrollbar{
    width: 5px;
}

/*Cor da área de trás, sem a barra*/
::-webkit-scrollbar-track {
    background: var(--color-black);        
}
  
/*Cor da barra da scrollbar*/
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, var(--color-yellow-gradient), var(--color-orange-gradient), var(--color-red-gradient));    /* color of the scroll thumb */
}

body{
    background: var(--color-background);

    /*Tirar o scroll do eixo X*/
    overflow-x: hidden;
}

/*-------------------------------CABEÇALHO-------------------------------*/
header nav{
    padding: 30px 0;
    /*Centralizar o conteúdo*/
    /*Estruturar um elemento abaixo do outro*/
    display: block;
    justify-content: center;
    /*Alinhar os textos*/
    text-align: center;
    /*O "align-items: center" serve pera alinhamento no eixo x*/
}

header nav #title-page{
    /*Fonte do título do projeto*/
    font-size: 50px;
}

header nav .slogan{
    color: var(--color-red-gradient);
    font-size: 16px;

    padding: 8px; /*0.50rem*/
}

.navbar_item{
    text-decoration: none;
    color: var(--color-yellow-gradient);

    padding: 8px; /*0.50rem*/
    border: 2px solid var(--color-yellow-gradient);
    border-radius: 8px; /*0.50rem*/
}

.navbar_item:hover{
    color: var(--color-red-gradient);
    border: 2px solid var(--color-red-gradient);
}

ul{
    padding: 16px; /*1rem*/
    /*Remover as boliinhas do elemento da lista*/
    list-style: none;

    /*Centralizar os itens*/
    /*Deixar os elementos da lista em uma única linha*/
    display: flex;
    /*Centralizar o conteúdo*/
    justify-content: center;
}

li{
    /*Espaçamento na vertical e horizontal respectivamente*/
    padding: 8px; /*0.50rem*/
}

hr{
    border: none;
    height: 1px;
    min-width: 100%;
    background-color: var(--color-red-gradient);
}

/*-------------------------------CARDS-------------------------------*/
.container{
    padding: 32px 11px 32px 16px; /*O lado direito é 5px a menos por que a scrollbar toma 5px de seu tamanho*/

    /*------GRID------*/
    /*Estruturação do layout em CSS Grid*/
    display: grid;
    /*O layout será estruturado em 4 colunas de 1fr cada com espaçamento de 16px entre elas*/
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    /*O layout será estruturado em linhas com espaçamento de 25px entre elas*/
    grid-row-gap: 30px;

    align-items: center;
    justify-items: center;
}

.container .card{
    width: 300px;
    height: 275px;

    background: white;
    border-radius: 0.50rem;
}

.container .card .image{
    /*Alinhamento da caixa da imagem*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 16px;
}

/*Definir o tamanho da imagem do card - é necessário especificar a classe da div que contém a tag da imagem e a própria tag da imagem*/
.container .card .image img{
    /*As 3 propriedades abaixo serve para deixar as imgens resposivas, ou seja, não desfocar conforme o tamanho do card aumenta ou diminui*/
    width: 268px;
    height: 150px;
    object-fit: cover;
}

.container .card .content .nameAnime{
    text-align: center;
    margin: 0 16px;
}

.container .card .content .readMore{
    text-decoration: none;
    cursor: pointer;

    border-radius: 8px; /*0.50rem*/
    padding: 8px;
    color: var(--color-white);
    border: none;
    /*Ocupa 100% da caixa "content"*/
    width: 50%;
    margin: 10px 16px;

    /*Centralizar o botão no eixo X*/
    left: 50%;
    right: 50%;
    transform: translate(40%);
}

/*-------------------------------RODAPÉ-------------------------------*/
footer{
    padding: 32px;

    /*Posicionar as caixas uma abaixo da outra*/
    display: block;
    justify-content: center;
    /*Alinhar textos ao centro*/
    text-align: center;

    color: var(--color-red-gradient);
}

footer h3{
    color: var(--color-yellow-gradient)
}


/*-------------------------------MODAL-------------------------------*/
/*Caixa que abriga o modal*/
.modal-container{
    /*Ocupar toda a tela do dispositivo*/
    width: 100vw;
    height: 100vh;
    /*Deixar a tela com um fundo transparente escuro*/
    background: rgba(0, 0, 0, 0.5);
    /*Posicionar a caixa em toda a tela*/
    position: fixed;
    /*A caixa vai começar da esquerda , de cima para baixo, desde o 1°pixel*/
    left: 0px;
    top: 0px;
    /*Posicionar o modal sobre todas as demais caixas*/
    z-index: 2;
    /*Centralizar o conteúdo do modal*/
    display: flex;
    justify-content: center; /*centalizar no eixo X*/
    align-items: center; /*centralizar no eixo Y*/

    /*Para que se possa posicionar elementos filhos dentro do modal, define-a como tendo posição relativa e seus filhos com posição absoluta*/
    /*position: relative;*/

    opacity: 0;
    visibility: hidden;
}

/*Quando a função "open" for chamada, a classe "active" será adicionada ao seletor que contém a classe "modal-container" e será visível para o usuário*/
.modal-container.active{
    opacity: 1;
    visibility: visible;
}

/*É o próprio modal*/
.modal-container .modal{
    /*Posição absoluta é necessária para posicionar os elementos do modal corretamente*/
    position: absolute;

    background: var(--color-white);

    width: 50%;
    height: 30%;

    padding: 16px;
}

/*Botão de fechar do modal*/
.modal-container .modal .close-btn{
    /*Posição absoluta é necessária para posicionar os elementos do modal corretamente*/
    position: absolute;
    padding: 10px;

    background: var(--color-white);
    border: none;
    cursor: pointer;
    
    color: var(--color-red-gradient);
    font-size: 16px;
    font-weight: 900;
    
    right: 3%;
}

.modal-container .modal img{
    position: absolute;
}

.modal-container .modal p{
    justify-content: justify;
    font-size: 16px;
}

.modal-container .modal .sinopse{
    text-align: justify;
    font-size: 16px;
    margin-bottom: 16px;
}

.modal-container .modal .btn-wacth{
    background-color: var(--color-red-gradient);
    color: var(--color-white);
    
    padding: 8px;
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*----------------RESPONSIVIDADE----------------*/
@media (max-width: 1200px){
    .container{
        /*O layout será estruturado em 4 colunas de 1fr cada com espaçamento de 16px entre elas*/
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 16px;
    }
    
    /*Tamanho do modal*/
    .modal-container .modal{
        width: 50%;
        height: 30%;
    }
}

@media (max-width: 1024px){
    .container{
        /*O layout será estruturado em 4 colunas de 1fr cada com espaçamento de 16px entre elas*/
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px;
    }
    
    /*Tamanho do modal*/
    .modal-container .modal{
        width: 60%;
        height: 30%;
    }
}

@media (max-width: 768px){
    .container{
        /*O layout será estruturado em 4 colunas de 1fr cada com espaçamento de 16px entre elas*/
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px;

        overflow-x: hidden;
    }
    
    /*Tamanho do modal*/
    .modal-container .modal{
        width: 60%;
        height: 40%;
    }
}

@media (max-width: 640px){
    .container{
        /*O layout será estruturado em 4 colunas de 1fr cada com espaçamento de 16px entre elas*/
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 16px;
    }
    
    /*Tamanho do modal*/
    .modal-container .modal{
        width: 75%;
        height: 30%;
    }
}

@media (max-width: 480px){
    .container{
        /*O layout será estruturado em 4 colunas de 1fr cada com espaçamento de 16px entre elas*/
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 16px;
    }
    
    /*Tamanho do modal*/
    .modal-container .modal{
        width: 75%;
        height: 55%;
    }
}
