/*
1rem = 16px
*/

:root{
    /*Variáveis*/
    --color-yellow-gradient: #FFCA03;
    --color-orange-gradient: #FF5403;
    --color-red-gradient: #F90716;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-background: #191A19;

    font-family: 'Poppins', sans-serif;
}

/*Zerar as configurações padrões do CSS*/
*{
    margin: 0;
    padding: 0;
    border: border-box;
}

/*Gradiente*/
.gradient{
    background-image: linear-gradient(45deg, var(--color-yellow-gradient), var(--color-orange-gradient), var(--color-red-gradient));
}

/*Aplicar gradiente em texto*/
.gradient-text{
    background-image: linear-gradient(45deg, var(--color-yellow-gradient), var(--color-orange-gradient), var(--color-red-gradient));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/*--------------------------SCROLLBAR---------------------*/
/*Largura da área total da scrollbar*/
::-webkit-scrollbar{
    width: 5px;
}

/*Cor da área de trás, sem a barra*/
::-webkit-scrollbar-track {
    background: var(--color-black);        
}
  
/*Cor da barra da scrollbar*/
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, var(--color-yellow-gradient), var(--color-orange-gradient), var(--color-red-gradient));    /* color of the scroll thumb */
}

body{
    background: var(--color-background);
    width: 100vw;

    /*Tirar o scroll do eixo X*/
    overflow-x: hidden;
}

/*-------------------------------CABEÇALHO-------------------------------*/
header{
    padding: 30px 0;
}

#title-page{
    text-align: center;
    /*Fonte do projeto*/
    font-size: 50px;
}

.slogan{
    color: var(--color-red-gradient);
    /*Centralizar o conteúdo*/
    display: flex;
    justify-content: center;
    /*O "align-items: center" serve pera alinhamento no eixo x*/

    font-size: 16px;

    padding: 8px; /*0.50rem*/
}

.navbar_item{
    text-decoration: none;
    
    color: var(--color-yellow-gradient);
    padding: 8px; /*0.50rem*/
    border: 2px solid var(--color-yellow-gradient);
    border-radius: 8px; /*0.50rem*/
}

.navbar_item:hover{
    color: var(--color-red-gradient);
    border: 2px solid var(--color-red-gradient);
}

ul{
    padding: 16px; /*1rem*/
    /*Remover as boliinhas do elemento da lista*/
    list-style: none;

    /*Centralizar os itens*/
    /*Deixar os elementos da lista em uma única linha*/
    display: flex;
    /*Centralizar o conteúdo*/
    justify-content: center;
}

li{
    /*Espaçamento na vertical e horizontal respectivamente*/
    padding: 8px; /*0.50rem*/
}

hr{
    border: none;
    height: 1px;
    min-width: 100%;
    background-color: var(--color-red-gradient);
}

/*-------------------------------CARDS-------------------------------*/
.container{
    padding: 32px; /*2rem*/

    /*------GRID------*/
    /*Estruturação do layout em CSS Grid*/
    display: grid;
    /*O layout será estruturado em 4 colunas de 1fr cada com espaçamento de 16px entre elas*/
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    /*O layout será estruturado em linhas com espaçamento de 25px entre elas*/
    grid-row-gap: 25px;

    align-items: center;
    justify-items: center;
}

.container .card{
    width: 300px;
    height: 275px;

    background: white;
    border-radius: 0.50rem;
}

.container .card .image{
    /*Alinhamento da caixa da imagem*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 16px;
}

/*Definir o tamanho da imagem do card - é necessário especificar a classe da div que contém a tag da imagem e a própria tag da imagem*/
.container .card .image img{
    /*As 3 propriedades abaixo serve para deixar as imgens resposivas, ou seja, não desfocar conforme o tamanho do card aumenta ou diminui*/
    width: 268px;
    height: 150px;
    object-fit: cover;
}

.container .card .content .nameAnime{
    text-align: center;
    margin: 0 16px;
}

.container .card .content .readMore{
    text-decoration: none;
    border-radius: 8px; /*0.50rem*/
    padding: 8px;
    color: var(--color-white);
    border: none;
    /*Ocupa 100% da caixa "content"*/
    width: 50%;
    margin: 10px 16px;

    /*Centralizar o botão no eixo X*/
    left: 50%;
    right: 50%;
    transform: translate(40%);
}

/*-------------------------------RODAPÉ-------------------------------*/
footer{
    padding: 2rem;
}

footer h3{
    text-align: center;
}

@media (max-width: 1200px){
    .container{
        /*O layout será estruturado em 4 colunas de 1fr cada com espaçamento de 16px entre elas*/
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 16px;
    }
}

@media (max-width: 1024px){
    .container{
        /*O layout será estruturado em 4 colunas de 1fr cada com espaçamento de 16px entre elas*/
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 16px;
    }
}

@media (max-width: 768px){
    .container{
        /*O layout será estruturado em 4 colunas de 1fr cada com espaçamento de 16px entre elas*/
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px;

        overflow-x: hidden;
    }
}

@media (max-width: 640px){
    .container{
        /*O layout será estruturado em 4 colunas de 1fr cada com espaçamento de 16px entre elas*/
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 16px;
    }
}

@media (max-width: 480px){
    .container{
        /*O layout será estruturado em 4 colunas de 1fr cada com espaçamento de 16px entre elas*/
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 16px;
    }
}













/*
.container .card .content p{
    font-size: 12px;
    font-weight: 300;

    Centralizar o texto
    text-align: justify;
}*/