body{
    width: 100%;
    height: 100%;
}

/*Gradiente*/
.gradient{
    background-image: linear-gradient(45deg, var(--color-yellow-gradient), var(--color-orange-gradient), var(--color-red-gradient));
}

/*Aplicar gradiente em texto*/
.gradient-text{
    background-image: linear-gradient(45deg, var(--color-yellow-gradient), var(--color-orange-gradient), var(--color-red-gradient));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/*--------------------------SCROLLBAR---------------------*/
/*Largura da área total da scrollbar*/
::-webkit-scrollbar{
    width: 2px;
}

/*Cor da área de trás, sem a barra*/
::-webkit-scrollbar-track {
    background: var(--color-black);        
}
  
/*Cor da barra da scrollbar*/
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, var(--color-yellow-gradient), var(--color-orange-gradient), var(--color-red-gradient));    /* color of the scroll thumb */
}

/*------------------------------------------------*/
body{
    background: var(--color-background);

    /*Tirar o scroll do eixo X
    overflow-x: hidden;*/
    margin: auto;
}

/*-------------------------------CABEÇALHO-------------------------------*/
header nav{
    padding: 3rem 0;
    /*Centralizar o conteúdo*/
    /*Estruturar um elemento abaixo do outro*/
    display: block;
    justify-content: center;
    /*Alinhar os textos*/
    text-align: center;
    /*O "align-items: center" serve pera alinhamento no eixo x*/
}

header nav #title-page{
    /*Fonte do título do projeto*/
    font-size: 3rem;
}

header nav .slogan{
    color: var(--color-red-gradient);
    font-size: 1rem;

    padding: 0.5rem; /*0.50rem*/
}

.navbar_item{
    color: var(--color-yellow-gradient);

    padding: 0.5rem; /*0.50rem*/
    border: 2px solid var(--color-yellow-gradient);
    border-radius: 0.5rem; /*0.50rem*/
}

.navbar_item:hover{
    color: var(--color-red-gradient);
    border: 2px solid var(--color-red-gradient);
    transition: 0.2s;
}

ul{
    padding: 1rem; /*16px*/

    /*Centralizar os itens*/
    /*Deixar os elementos da lista em uma única linha*/
    display: flex;
    /*Centralizar o conteúdo*/
    justify-content: center;
}

li{
    /*Espaçamento na vertical e horizontal respectivamente*/
    padding: 0.5rem; /*0.50rem*/
}

hr{
    border: none;
    height: 1px;
    width: 100%;
    background-color: var(--color-red-gradient);
}

/*-------------------------------CARDS-------------------------------*/
.container{
    padding: 2rem 1.5rem 2rem 1rem; /*O lado direito é 5px a menos por que a scrollbar toma 5px de seu tamanho*/

    /*------GRID------*/
    /*Estruturação do layout em CSS Grid*/
    display: grid;
    /*O layout será estruturado em 4 colunas de 1fr cada com espaçamento de 16px entre elas*/
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    grid-column-gap: 1rem;
    /*O layout será estruturado em linhas com espaçamento de 25px entre elas*/
    grid-row-gap: 2rem;

    align-items: center;
    justify-items: center;
}

.container .card{
    height: 17rem;

    background: white;
    border-radius: 0.5rem;
}

.container .card .image{
    /*Alinhamento da caixa da imagem*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem;
}

/*Definir o tamanho da imagem do card - é necessário especificar a classe da div que contém a tag da imagem e a própria tag da imagem*/
.container .card .image img{
    /*As 3 propriedades abaixo serve para deixar as imgens resposivas, ou seja, não desfocar conforme o tamanho do card aumenta ou diminui*/
    width: 16.75rem;
    height: 9.35rem;
    object-fit: cover;
}

.container .card .content .nameAnime{
    text-align: center;
    margin: 0 1rem;
    font-size: 1.5rem;
}

.container .card .content .readMore{
    cursor: pointer;
    color: var(--color-white);

    border: none;
    border-radius: 0.5rem; /*0.50rem*/
    padding: 0.5rem;
    /*Ocupa 100% da caixa "content"*/
    width: 50%;
    margin: 0.5rem 1rem;

    /*Centralizar o botão no eixo X*/
    left: 50%;
    right: 50%;
    transform: translate(40%);
}

/*-------------------------------RODAPÉ-------------------------------*/
footer{
    padding: 2rem;

    /*Posicionar as caixas uma abaixo da outra*/
    display: block;
    justify-content: center;
    /*Alinhar textos ao centro*/
    text-align: center;

    color: var(--color-red-gradient);
}

footer h3{
    color: var(--color-yellow-gradient);
}

/*-------------------------------MODAL-------------------------------*/
/*Caixa que abriga o modal*/
.modal-container{
    /*Ocupar toda a tela do dispositivo*/
    width: 100%;
    height: 100%;
    /*Deixar a tela com um fundo transparente escuro*/
    background: rgba(0, 0, 0, 0.5);
    /*Posicionar a caixa em toda a tela*/
    position: fixed;
    /*A caixa vai começar da esquerda , de cima para baixo, desde o 1°pixel*/
    left: 0px;
    top: 0px;
    /*Posicionar o modal sobre todas as demais caixas*/
    z-index: 2;
    /*Centralizar o conteúdo do modal*/
    display: flex;
    justify-content: center; /*centalizar no eixo X*/
    align-items: center; /*centralizar no eixo Y*/

    /*Para que se possa posicionar elementos filhos dentro do modal, define-a como tendo posição relativa e seus filhos com posição absoluta*/
    /*position: relative;*/

    opacity: 0;
    visibility: hidden;
}

/*Quando a função "open" for chamada, a classe "active" será adicionada ao seletor que contém a classe "modal-container" e será visível para o usuário*/
.modal-container.active{
    opacity: 1;
    visibility: visible;
}

/*É o próprio modal*/
.modal-container .modal{
    /*Posição absoluta é necessária para posicionar os elementos do modal corretamente*/
    position: absolute;

    background: var(--color-white);

    width: 70%;
    padding: 1rem;
}

.modal .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-container .modal h2{
    font-size: 1.5rem;
}

/*Botão de fechar do modal*/
.modal-container .modal .close-btn{
    border: none;
    cursor: pointer;
    
    background-color: var(--color-white);
    color: var(--color-red-gradient);
    font-weight: 900;
    font-size: 1rem;
}

.modal-container .modal .sinopse{
    text-align: justify;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.modal-container .modal .btns{
    display: flex;
}

.modal-container .modal .btn{
    padding: 0.5rem;
    margin-right: 1rem;

    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color-white);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container .modal .btns .btn-watch{
    background-color: var(--color-green);
}

.modal-container .modal .btns .btn-add-list{
    background: var(--color-yellow-gradient);
}

.modal-container .modal .btns .btn-rm-list{
    background-color: var(--color-red-gradient);
}